<section class="pagination">
  <% if(currentPage !== 1) { %>
  <a href="?page=<%= firstPage %>"><%= firstPage %></a>
  <% } %> <% if(currentPage !== 1 && previousPage !== 1) { %>
  <a href="?page=<%= previousPage %>"><%= previousPage %></a>
  <% } %>
  <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>
  <% if(hasNextPage) { %>
  <a href="?page=<%= nextPage %>"><%= nextPage %></a>
  <% } %> <% if(nextPage !== lastPage && currentPage !== lastPage) { %>
  <a href="?page=<%= lastPage %>"><%= lastPage %></a>
  <% } %>
</section>
